
<div class="title">
       <h1>
       Your Dashboard
       </h1>

</div>

{{#each BlogPosts as |BlogPost|}}
{{> blogpost-details}}
{{/each}}


 <div class="container">

       <a href="/dashboard/new" class="create-post-button">Create new Post</a>
</div>
