

<div class="form-container">
        <h1>Update Your Information</h1>
        <form class="formBlogPost">
            <label for="title">Title:</label>
            <input type="text" id="title" value="{{blogPost.name}}" name="title" required>
                        <label for="ID">ID:</label>

            <input type="text" id="id" value="{{blogPost.id}}" name="ID" readonly>

            <label for="content">Content:</label>
            <textarea id="content" name="content"  rows="4" required>{{blogPost.description}}</textarea>
            
            <button type="submit">Update</button>
        </form>
        <button class="deleteBlogPost">Delete</button>

    </div>




    <script src="../../js/deletepost.js"></script>
    <script src="../../js/updatepost.js"></script>
